body {
	text-align: center;
	background: url("http://fc01.deviantart.net/fs70/f/2012/082/2/f/blurry_texture__dark_by_dragoroth_stock-d4tow88.jpg");
	background-size: cover;
	color: #FFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: thin;
	font-size: 14px;
}

h1 {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: -30px;
}

ul { 
	padding: 0px
	margin: 0px;
	display: inline-block;
	text-align:left;
	width: 300px;
}

#contact {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
}


#slogan {
	font-style: italic;
	font-size: 20px;
	color: #32CD32;
	letter-spacing: 24px;
}
a:link {
	color: #32CD32;
}

div {
	text-align: center;
}