body {
	text-align: center;
	background-position: absolute;
	background-size: cover;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: thin;
	font-size: 18px;
}

#img1 {
	width: 110px;
	height: auto;
	margin-top: 30px;
}

h2 {
	font-family: 'Roboto';
	color: #32CD32;
}

nav {

	font-size: 20px;
	background-color: #303030;
	margin-bottom: 20px;

}

nav a {
	margin: 1.5em;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Roboto';
}

.column {
	width: 410px;
	height: 525px;
	padding: 40px;
	margin: 0;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}

#column1 {
	float:left;
	background-color: #585858;
	color: #ffffff;
}

#column2 {
	float: right;
	background-color: #787878;
	color: #ffffff;
}

#img2 {
	width: 1000px;
	height: auto;
	margin: 10px;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 41px;
	font-weight: bold;
	margin-bottom: -15px;
	color: black;
}

ul { 
	padding: 0px
	margin: 0px;
	margin-top: -5px;
	display: inline-block;
	text-align:left;
	width: 300px;
	margin-left: 110px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
#slogan {
	font-family: 'Roboto', serif;
	text-transform: uppercase;
	font-weight: thin;
	font-size: 16px;
	color: #32CD32;
	letter-spacing: 22px;
	margin-left: 19px;
}

footer {
	background-color: #303030;
	padding: 10px;
	margin-top: 20px;
}

a {
	color: #32CD32;
}

div {
	text-align: center;
}